body{
  font-family: Arial;
  margin: 0;
  background: #eef1f4;
}

header{
  background: #111;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a{
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

section{
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td{
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
}

th{
  background: #dce0e4;
  font-weight: bold;
}

footer{
  text-align: center;
  padding: 12px;
  background: #ddd;
  margin-top: 20px;
}